@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Baku, Azerbaijan<br />

    <abbr title="Phone">P:</abbr>
    +99455-886-95-75
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aysensafarova@gmail.com">aysensafarova@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>