header .m-stack.m-stack--desktop, footer {
    background-color: #282a3c !important;
}

.main-color {
    color: #5867dd !important;
}

header .m-stack{
    width: unset;
}

#single-layout .btn.dropdown-toggle.btn-default {
    border: unset !important;
}

img.bike-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
