@model IEnumerable<Bikely.Models.UsersViewModel>

<h3>İstifadəçilərin siyahısı</h3>

<table>
    <thead>
        <tr>
            <th>İstifadəçi adı</th>
            <th>Rol</th>
            <th>Email adres</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Nömrə təsdiqlənib?</th>
                <th>Sil</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
        <tr>
            <td>@user.userName</td>

            @if (user.roleName == "Owner")
            {
                <td>Sahibkar</td>

            }
            else if (user.roleName == "Renter")
            {
                <td>Kirayəçi</td>
            }

            <td>@user.userEmail</td>

            @if (!user.phoneNumConfirmed && user.showSomeParts)
            {
                <td>Xeyir</td>
            }
            else if (user.showSomeParts)
            {
                <td>Bəli</td>
            }
            @if (user.showSomeParts)
            {
                <td>
                    @Html.ActionLink("Sil", "Delete", new { userId = user.userId})
                </td>
            }

        </tr>
        }
    </tbody>
</table>
