@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.Condition == "newRegistered" && ViewBag.displayMenu != "Yes")
{
    <div data-notify="container" class="alert alert-success m-alert animated tada"
         role="alert" data-notify-position="top-center" style="display: inline-block;
        margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 10000;
        top: 30px; left: 0px; right: 0px; animation-iteration-count: 1;">
        <button type="button" aria-hidden="true" class="close" data-notify="dismiss"></button>
        <span data-notify="title"></span>
        <span data-notify="message">
            Təbriklər!
            <strong class="m--font-boldest m--font-primary"> @User.Identity.GetUserName().First().ToString().ToUpper()@String.Join("", User.Identity.GetUserName().Skip(1)).ToLower() </strong>
            Qeydiyyat tamamlandı :)
        </span>
        <embed id="soundLogin" src="" autostart="true" width="0" height="0" enablejavascript="true" />
    </div>
}
else if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <div data-notify="container" class="alert alert-brand m-alert animated tada m-alert--square m-alert--air" role="alert" data-notify-position="top-center" style="display: inline-block;
        margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 10000;
        top: 30px; left: 0px; right: 0px; animation-iteration-count: 1;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <span data-notify="message">
            Salam
            <strong class="m--font-boldest m--font-primary"> @User.Identity.GetUserName().First().ToString().ToUpper()@String.Join("", User.Identity.GetUserName().Skip(1)).ToLower() </strong>
            Gününüz xoş keçsin :)
        </span>
    </div>
}

<script>
    setTimeout(function () {
        $('.alert.alert-success').hide();
    }, 8000);
</script>

